.btn {
    border-radius: 2px;
    font-weight: 700;
    font-size: 1rem;
    background-color: rgba(0,0,0,0.3);
    border: none;
    color: var(--color-text);
    padding: .8rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: relative;
    &:hover {
        color: var(--color-text);
        background-color: rgba(0,0,0,0.5);
    }
    &:before {
        pointer-events: none;
        position: absolute;
        z-index: -1;
        content: '';
        border-style: solid;
        transition-duration: 0.3s;
        transition-property: all;
        left: calc(50% - 10px);
        opacity: 0;
        bottom: 0;
        transform: translateY(10px);
        border-width: 10px 0px 0 10px;
        border-color: rgba(0,0,0,0.5) transparent transparent transparent;
    }
    &:hover:before,
    &:focus:before,
    &:active:before {
        
        border-width: 10px 10px 0 10px;
        opacity: 1;
    }
    @media screen and (max-width: 55em) {
        padding: .8rem 1.6rem;
    }
}