

//all the headlines H1, H2, etc.

.main-title {
    font-family: $font-family-headlines;
    color: var(--color-title);
    font-weight: 700;
    text-transform: uppercase;
    line-height: .75;
    margin: 0;
}

h1{
    @extend .main-title;
    font-size: 16vw;
    mix-blend-mode: overlay;
    text-align: center;
    line-height: .85;
    @media (min-width:800px){
        font-size: 14vw;
        line-height: .75;
    }
    @media (min-width:1400px){
        font-size: 180px;
    }
}

h2 {
    @extend .main-title;
    font-size: 14vw;
    line-height: .85;
    mix-blend-mode: overlay;
    text-align: center;
    @media (min-width:800px){
        font-size: 11vw;
        line-height: .75;
    }
    @media (min-width:1400px){
        font-size: 160px;
    }
}

h3 {
    @extend .main-title;
    font-size: 30px;
    line-height: .9;
}