.background {
    z-index: -10;
    position: absolute;
    top: 0;
    margin: 0;
    transition: 300ms;

    .bg_page {
        height: 100vh;
        width: 100vw;
        .is-ios & {
            //height: calc(100vh - 113px);
            height: calc(100vh - 74px);
        }
        .is-ios-x & {
            height: calc(100vh - 113px);
        }
    }

    .bg_page.sticky {
        // height: var(--page-height);
    }

    &.displaced{
        transform: translateX(-100vw);
        transition: 300ms;
    }
    
}
