.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    &.align-center {
        align-items: center;
    }
    @include media(">tablet") {
        flex-wrap: nowrap;
    }
    .col-3 {
        padding: 15px;
        width: 50%;
        text-align: center;
        @include media(">tablet") {
            width: 30%;
        }
    }
    .col-4 {
        padding: 15px;
        width: 50%;
        text-align: center;
        @include media(">tablet") {
            width: 40%;
        }
    }
}