header {
    position: fixed;
    padding: 1rem;
    z-index: 1;
    top: 10px;
    left: 0;
    transition: 300ms;
    a {
        color: white;
        display: block;
        display: flex;
        align-items: center
    }
    p {
        padding: 0;
        margin: 0;
        margin-left: 15px;
    }
    &.hidden {
        opacity: 0;
    }
    &:hover {
        a {
            color: var(--color-text-dark);
        }
        svg path {  
            fill: var(--color-text-dark);
        }
    }
    &:hover svg #oval {
        animation-name: blink;
        animation-duration: 1s;
    }
    @include media("<=tablet") {
        padding: 3px 0px;
        left: 10px;
        p {
            display: none;
        }
    }
}

header {

    body.light_bg & {
        svg path {
            fill: var(--color-text-dark);
        }
        p {
            color: var(--color-text-dark);
        }
    }
   
}