
.scene {
    will-change: filter;
    position: fixed;
    z-index: -1;
    &.scene--full {
        margin: -3vh -3vw;
        width: 106vw;
        height: 106vh;
    }
}

/* @media screen and (max-width: 80em) {
    .scene--full {
        width: 100vw;
    }
} */