@import "../node_modules/swiper/dist/css/swiper.css";


.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    width: 100%;
    max-width: 900px;
    right: 0;
    line-height: 16px;
    left: 50%;
    text-align: right;
    // top: 260px;
    height: 16px;
    transform: translateX(-50%);
    @include media("<=tablet") {
        text-align: center;
    }
}

.swiper-pagination-bullet {  
    width: 30px;
    height: 7px;
    border-radius:  0;
}

.swiper-pagination-bullet-active {
    background: white;
}


@include media("<=tablet") {
    .swiper-container {
        padding: 0 5vw;
    }
    .swiper-slide,
    .swiper-wrapper {
        width: 90vw;
    }
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets
    {
        bottom:0px;
    }
}