{% includeData
  'data/data.json'
%}

<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Camberí</title>
  <meta name="description" content="Development and Creative agency" />
  <meta name="keywords" content="web design, web development, app developemnt, creative development, android, ios, webgl, agency, 3d, cool, three.js, animation"
  />
  <meta name="author" content="Francesco Gatti" />
  <meta name="author" content="Mattia Lorenzutti" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="CCapture.all.min.js"></script>
  <meta name="theme-color" content="#52D1DF">
  <link rel="shortcut icon" href="img/favicon.ico">
  <link rel="manifest" href="manifest.json">
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://use.typekit.net/ujy0gmh.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114853800-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-114853800-1');
  </script>
  <script>
    document.documentElement.className = "js";
    var supportsCssVars = function () {
      var e, t = document.createElement("style"); return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e
    };
    supportsCssVars() || alert("Please view this website in a modern browser that supports CSS Variables.");
    setTimeout(() => document.body.classList.add('render'), 17);
    console.log(`
%c 
  ___  _         _          _ _         _   _                   _ 
 / _ \\| |__     | |__   ___| | | ___   | |_| |__   ___ _ __ ___| |
| | | | '_ \\    | '_ \\ / _ \\ | |/ _ \\  | __| '_ \\ / _ \\ '__/ _ \\ |
| |_| | | | |_  | | | |  __/ | | (_) | | |_| | | |  __/ | |  __/_|
 \\___/|_| |_( ) |_| |_|\\___|_|_|\\___/   \\__|_| |_|\\___|_|  \\___(_)
            |/    
                      
You rock! And you should be working with us!\n♥\n
%chello@camberi.com
  
`, "font-family:monospace; width:100%;", "font-weight: bold; font-size: 1.5rem");
  </script>
</head>

<body>
{% block content %} {% endblock %}
</body>


</html>