{% includeData
  'data/data.json'
%}

<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Camberí</title>
  <meta name="description" content="Development and Creative agency" />
  <meta name="keywords" content="web design, web development, app developemnt, creative development, android, ios, webgl, agency, 3d, cool, three.js, animation"
  />
  <meta name="author" content="Francesco Gatti" />
  <meta name="author" content="Mattia Lorenzutti" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#52D1DF">
  <link rel="shortcut icon" href="img/favicon.ico">
  <link rel="manifest" href="manifest.json">
  <script async src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  {# <link rel="stylesheet" type="text/css" href="https://use.typekit.net/ujy0gmh.css"> #}
  <style>
    @import url("https://p.typekit.net/p.css?s=1&k=ujy0gmh&ht=tk&f=139.175.26842&a=748606&app=typekit&e=css");

  @font-face {
  font-family:"proxima-nova";
  src:url("https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-style:normal;font-weight:700;
  }

  @font-face {
  font-family:"proxima-nova";
  src:url("https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-style:normal;font-weight:400;
  }

  @font-face {
  font-family:"roboto-condensed";
  src:url("https://use.typekit.net/af/0de5aa/00000000000000003b9ad062/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/0de5aa/00000000000000003b9ad062/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/0de5aa/00000000000000003b9ad062/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-style:normal;font-weight:700;
  }

  .tk-proxima-nova { font-family: "proxima-nova",sans-serif; }
  .tk-roboto-condensed { font-family: "roboto-condensed",sans-serif; }
  </style>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114853800-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-114853800-1');
  </script>
  <script>
    document.documentElement.className = "js";
    var supportsCssVars = function () {
      var e, t = document.createElement("style"); return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e
    };
    supportsCssVars() || alert("Please view this website in a modern browser that supports CSS Variables.");
    setTimeout(() => document.body.classList.add('render'), 17);
    console.log(`
%c 
  ___  _         _          _ _         _   _                   _ 
 / _ \\| |__     | |__   ___| | | ___   | |_| |__   ___ _ __ ___| |
| | | | '_ \\    | '_ \\ / _ \\ | |/ _ \\  | __| '_ \\ / _ \\ '__/ _ \\ |
| |_| | | | |_  | | | |  __/ | | (_) | | |_| | | |  __/ | |  __/_|
 \\___/|_| |_( ) |_| |_|\\___|_|_|\\___/   \\__|_| |_|\\___|_|  \\___(_)
            |/    
                      
You rock! And you should be working with us!\n♥\n
%chello@camberi.com
  
`, "font-family:monospace; width:100%;", "font-weight: bold; font-size: 1.5rem");
  </script>
</head>

<body>
{% block content %} {% endblock %}
</body>


</html>