<div id="about">
    <div class="content">
        <h3 class="text_dark">THIS IS US</h3>
        <div class="content-about">
           
            <div class="content-about__profiles">
                <div class="content-about__profile content-about__profile--lower">
                    <div class="content-about__profile-image">
                        <img src="/img/mattia.png">
                    </div>                    
                    <div class="content-about__profile-text">
                        <h5 class="text_dark">Mattia Lorenzutti</h5>
                        <!-- <p>Co-Founder</p> -->
                        <a href="https://www.linkedin.com/in/mattialorenzutti/" class="content-about__profile-icon">
                            <svg class="icon">
                                <use xlink:href="#linkedin-1-dark" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="content-about__profile content-about__profile--higher">
                    <div class="content-about__profile-image">
                        <img src="/img/francesco.png">
                    </div>
                    <div class="content-about__profile-text">
                        <h5 class="text_dark">Francesco Gatti</h5>
                        <!-- <p>Co-Founder</p> -->
                        <a href="https://www.linkedin.com/in/fgatti675/" class="content-about__profile-icon">
                            <svg class="icon">
                                <use xlink:href="#linkedin-1-dark" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
             <div class="content-about__text">
                <p>We are <strong>developers</strong>, and we’re great at developing. But that's <strong>not enough</strong>.<br>Our background as <strong>designers</strong> &amp;
                    <strong>artists</strong> and our long experience bring our work to a <strong>different</strong> level. Our focus is to develop
                    solutions that <strong>break through the noise</strong>.
                </p>
                
                
            </div>
            <h5 class="text_dark">
                We love what we do.
                We are creative.
                We are passionate.
                </h4>
            
        </div>
        <h3 class="text_dark">OUR SERVICES</h3>
        <div class="services">
            <div class="service">
                <div class="service__icon">
                    
                     <svg>
                        <use class="mobile_svg" xlink:href="#mobile-development"></use>
                    </svg>
                    
                </div>
                <div class="service__text">
                    <h4>MOBILE DEVELOPMENT</h4>
                    <p>The mobile market is changing really fast, new apps are being published every day and is really hard to find its place into the Google Play market or the App Store.
We firmly believe that UX and technologies can really help to achieve the right awareness that your idea needs to reach the top list. We can develop both native both using languages like React Native that provides apps for Android and iOS sharing the same codebase.</p>
                </div>
            </div>
            <div class="service">
                <div class="service__icon">
                    <svg>
                        <use class="website_svg" xlink:href="#website-development"></use>
                    </svg>
                </div>
                <div class="service__text">
                    <h4>WEB DEVELOPMENT</h4>
                    <p>Thanks to modern technologies we can provide amazing web-based softwares and websites. From web-applications for internal use (fintech, assurtech) to public online services. We believe in the last trends in terms of technologies, Javascript bring the flexibility to develop for every platform, and we often rely on cloud services for scalable backend softwares. That doesn’t mean that this new technology can solve all the problems, we know Java, PHP, Python and C#, almost nothing can scare us.</p>
                </div>
            </div>
        </div>


    </div>
</div>