<div class="color_switch" title="This site has 8! = 40320 different color combinations!" id="shuffle_colors_btn">
    <svg class="color_switch_svg" >
        <use class="color_switch_inner" xlink:href="#color-palette-1"></use>
    </svg>
</div>