<nav>
    <a href="#about"  class="btn ">{{nav.about}}</a>
    <a href="#contact" class="btn btn--has-icon btn--with-arrow">{{nav.contact}}
        <div class="icon">
            <svg>
                <use class="paperplane" xlink:href="#paper-plane-1"></use>
            </svg>
        </div>
    </a>
</nav>