<div class="page fade-page" id="agile">
	<div class="page_content reveal2">

		<div class="swiper-container ">
			<div class="swiper-wrapper">

				<div class="swiper-slide">
					<h2>We think Agile
						<br/> We are agile
					</h2>
					<div class="content__body ">
						<h4>Collaboration and feedback</h4>
						<p>We are all about
							<strong>quick iterations</strong>,
							<strong>short feedback loops</strong> and
							<strong>continuous improvement</strong>. Customer collaboration and communication are fundamental concepts in the way we work.</p>
						<p>Agile is a methodology that can
							<strong>ensure coordination</strong> and a product more on target to user needs</p>
						<p>Visualize and participate in the progress of your project in a shared Trello board.</p>
					</div>
				</div>

				<div class="swiper-slide">
					<h2>UX and dev
						<br>together</h2>
					<div class="content__body ">

						<h4>Human interaction</h4>
						<p>Roses are
							<span class="text_tag" style="color:#C21E56;">#C21E56</span>, violets are
							<span class="text_tag" style="color:#571EC2;">#571EC2</span>; </br>
							we care about
							<strong>UX</strong> as much as you do.
						</p>
						<p>User experience is key for businesses because the site or app is their first impression to users.</p>
						<p>We deliver
							<strong>high quality products</strong> that your customers will just love.</p>
					</div>
				</div>

				<div class="swiper-slide">
					<h2>Let's build
						<br/>something</h2>
					<div class="content__body ">

						<h4>The technology</h4>
						<p>We are commited to developing the best
							<strong>websites</strong> and
							<strong>applications</strong>, using the latest frameworks such as
							<strong>React</strong>,
							<strong>Angular</strong> or
							<strong>Vue</strong>. Full fledged, amazing backend awesomeness included as well, of course.</p>
						<p>Do you need
							<strong>Native Apps</strong>? Or maybe you preffer a single code base using
							<strong>React Native</strong>\ or
							<strong>Flutter</strong>?
							<i>We got you!</i>
						</p>
					</div>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
</div>