<div class="page page_contact" id="contact">
	<div class="page_content">
		<h2 class="reveal2">Say hello
		</h2>

		<div class="content__body reveal2">
			<p>Do you have an awesome project you want to take to the next level? You are in the
				<b>right place!</b>
			</p>
			<p>Let's
				<b>build</b> something great together!
			</p>
			<h4 class="email_headline">hello@camberi.com</h4>
		</div>
	</div>
</div>