<div class="page  fade-page" id="clients">
	<div class="page_content">
		<h2 class="reveal2">They like us</h2>
		<div class="content__clients">
			<div class="row align-center">
				<div class="col-3 reveal2">
					<img src="/img/Stylight@2x.png" style="width:143px; max-width:100%">
				</div>
				<div class="col-3 reveal2">
					<img src="/img/allianz@2x.png" style="width:159px; max-width:100%">
				</div>
				<div class="col-3 reveal2">
					<img src="/img/Moleskine@2x.png" style="width:219px; max-width:100%">
				</div>
				<div class="col-3 reveal2">
					<img src="/img/alessi@2x.png" style="width:118px; max-width:100%">
				</div>
			</div>
			<div class="row align-center">
				<div class="col-4 reveal2">
					<img src="/img/andergroup@2x.png" style="width:210px; max-width:100%">
				</div>
				<div class="col-4 reveal2">
					<img src="/img/sketchin@2x.png" style="width:139px; max-width:100%">
				</div>
				<div class="col-4 reveal2">
					<img src="/img/studioup@2x.png" style="width:99px; max-width:100%">
				</div>
			</div>
		</div>
	</div>
</div>