<div id="about">
    <div class="content">
        <h1 class="text_dark">This is us</h1>

        <div class="reveal2 text_dark">
            <!-- <h3>CUTTING-EDGE TECHNOLOGIES</h3> -->
            <p>We develop the highest quality
                <strong>websites</strong>,
                <strong>web-applications</strong> and
                <strong>mobile apps</strong>.
            </p>
            <p>We offer
                <b>strategic solutions</b> that bring together creativity, technology, company and user objectives, data-driven insights
                and culture.</p>
            <p>We love what we do.</p>
            <p>We are
                <b>creative</b>. We are
                <b>passionate</b>.</p>
        </div>
    </div>
</div>