<div id="about">
    <div class="content">
        <h2 class="text_dark">WHO WE ARE?</h2>
        <div class="text_dark">
            <p>We are developers, and we’re great at developing. It’s enough? No. Our background as designer & artist and our long experience bring our work in a different level. Our focus is to develop solutions that break through the noise.
<br/>
We love what we do.<br/>
We are creative.<br/>
We are passionate.<br/>
</p>
        </div>
        <div class="guys">
            <div class="guy">
                <img src="/img/mattia.png">
                <h3 class="text_dark">Mattia Lorenzutti</h3>
                <a href="https://www.linkedin.com/in/mattialorenzutti/">
                    <svg class="icon">
                        <use xlink:href="#linkedin-1-dark" />
                    </svg>
                </a>
            </div>
            <div class="guy">
                <img src="/img/francesco.png">
                <h3 class="text_dark">Francesco Gatti</h3>
                <a href="https://www.linkedin.com/in/fgatti675/">
                    <svg class="icon">
                        <use xlink:href="#linkedin-1-dark" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="text_dark">
            <span class="plus">+</span>
            <span>an awesome net of collaborators</span>
        </div>

    </div>
</div>