	<div class="page page_intro" id="home">
		<div class="page_content">
			<div class="logo_header">
				<svg width="84px" height="84px" viewBox="0 0 456 397">
					<defs>
						<mask id="hole">
							<rect width="100%" height="100%" fill="white" ></rect>
							<path d="M263.133746,153.444605 C282.463713,153.444605 298.133746,137.774571 298.133746,118.444605 C298.133746,99.1146385 282.463713,83.4446047 263.133746,83.4446047 C243.80378,83.4446047 228.133746,99.1146385 228.133746,118.444605 C228.133746,137.774571 243.80378,153.444605 263.133746,153.444605 Z"
							    id="oval"></path>
						</mask>
					</defs>

					<path fill="#FFFFFF" mask="url(#hole)" d="M454.759368,268.771669 C432.726661,-127.040243 -74.7540242,-36.5433505 9.4106359,224.394665 C52.7036954,358.617331 468.195977,510.156905 454.759368,268.771669 Z"
					    id="Combined-Shape-Copy-2"></path>
				</svg>
				<div class="logo">Camberí</div>
			</div>
			<h1>
				<span class="reveal" style="visibility: hidden">We are</span>
				<br/>
				<span class="reveal" style="visibility: hidden">creative</span>
				<br/>
				<span class="reveal" style="visibility: hidden">developers</span>
			</h1>

		</div>
	</div>

	<div class="page  fade-page" id="development">
		<div class="page_content">
			<h2 class="reveal2">UX driven
				<br/>Apps &amp; Web
				<br/>development
			</h2>

			<div class="content__body reveal2">
				<!-- <h3>CUTTING-EDGE TECHNOLOGIES</h3> -->
				<p>We develop the highest quality
					<strong>websites</strong>,
					<strong>web-applications</strong> and
					<strong>mobile apps</strong>.
				</p>
				<p>We offer
					<b>strategic solutions</b> that bring together creativity, technology, company and user objectives, data-driven insights
					and culture.</p>
				<p>We love what we do.</p>
				<p>We are
					<b>creative</b>. We are
					<b>passionate</b>.</p>
			</div>
		</div>
	</div>

	<div class="page  fade-page" id="agile">
		<div class="page_content">

			<div class="swiper-container reveal2">
				<div class="swiper-wrapper">

					<div class="swiper-slide">
						<h2>We are born
							<br/> Agile
						</h2>
						<div class="content__body ">
							<h3>We know nothing else</h3>
							<p>We are all about quick iterations, short feedback loops and continuous improvement. Customer collaboration and communication
								are fundamental concepts in the way we work.</p>
							<p>Agile is a methodology that can ensure coordination and a product more on target to user needs</p>
						</div>
					</div>

					<div class="swiper-slide">
						<h2>UX and dev,
							<br>together</h2>
						<div class="content__body ">

							<h3>Human interaction</h3>
							<p>Roses are #C21E56, violets are #571ec2; we care about
								<b>UX</b> as much as you do. </p>
							<p>It is just as important as visual identity. User experience is key for businesses because the site or app is their
								first impression to users.</p>
							<p>We deliver high quality products that your customers will just love.</p>
						</div>
					</div>

					<div class="swiper-slide">
						<h2>Let's build
							<br/>something</h2>
						<div class="content__body ">

							<h3>The technology</h3>
							<p>We develop the highest quality
								<strong>websites</strong> and
								<strong>applications</strong>, using the latest frameworks such as
								<strong>React</strong>,
								<strong>Angular</strong> or
								<strong>Vue</strong>. Full fledged, amazing backend awesomeness included as well, of course.</p>
							<p>Do you need
								<strong>Native Apps</strong>? Or maybe you preffer a single code base using
								<strong>React Native</strong>\ or
								<strong>Flutter</strong>?
								<i>We got you!</i>
							</p>
						</div>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>


	<div class="page  fade-page" id="clients">
		<div class="page_content">
			<h2 class="reveal2">They like us</h2>
			<!--<div class="content__body ">
				<p>We care about
					<b>user experience</b> as much as you do. </p>
				<p>We feel the interaction between users and products as a
					<b>form of art</b>. We deliver products of the highest quality that your customers will just love.</p>
			</div>-->
			<div class="content__clients">
				<div class="row">
					<div class="col-3 reveal2">
						<img src="/img/Stylight@2x.png" style="width:143px; max-width:100%">
					</div>
					<div class="col-3 reveal2">
						<img src="/img/allianz@2x.png" style="width:159px; max-width:100%">
					</div>
					<div class="col-3 reveal2">
						<img src="/img/Moleskine@2x.png" style="width:219px; max-width:100%">
					</div>
					<div class="col-3 reveal2">
						<img src="/img/alessi@2x.png" style="width:118px; max-width:100%">
					</div>
				</div>
				<div class="row">
					<div class="col-4 reveal2">
						<img src="/img/andergroup@2x.png" style="width:210px; max-width:100%">
					</div>
					<div class="col-4 reveal2">
						<img src="/img/sketchin@2x.png" style="width:139px; max-width:100%">
					</div>
					<div class="col-4 reveal2">
						<img src="/img/studioup@2x.png" style="width:99px; max-width:100%">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page page_contact" id="contact">
		<div class="page_content">
			<h2 class="reveal2">Say hello
			</h2>

			<div class="content__body reveal2">
				<p>Do you have an awesome project you want to take to the next level? You are in the
					<b>right place!</b>
				</p>
				<p>Let's
					<b>build</b> something great together!
				</p>
				<h3 class="email_headline">hello@camberi.com</h3>
			</div> 
		</div>


	</div>
