<main>
		<div class="page page_intro" id="home">
			<div class="page_content">
				<h1>This is your great idea</h1>
			</div>
		</div>

		<div class="page sticky fade-page" id="build">
			<div class="page_content">
				<h2>Let's create.</h2>
				<div class="content__body ">
					<p>We offer a
						<b>strategic offering</b> that brings together creativity, technology, company and user objectives, data-driven insights
						and culture.</p>
					<p>We love what we do.</p>
					<p>We are
						<b>creative</b>. We are
						<b>passionate</b>.</p>
				</div>
			</div>
		</div>

		<div class="page sticky fade-page" id="tech">
			<div class="page_content">
				<h2>Cutting-edge.</h2>
				<div class="content__body ">
					<p>The technologic landscape is
						<b>fascinating</b> and ever-evolving.</p>
					<p> We develop the highest quality sites and web applications., using the latest frameworks such as
						<b>React</b>,
						<b>Angular</b> or
						<b>Vue</b>. Full fledged, amazing backend awesomeness included as well, of course.
					</p>
					<p> Do you need
						<b>native apps</b>? Or maybe you preffer a single code base using
						<b>React Native</b> or
						<b>Flutter</b>? We got you!</p>
				</div>
			</div>
		</div>

		<div class="page sticky fade-page" id="agile">
			<div class="page_content">
				<h2>We are Agile.</h2>
				<div class="content__body ">
					<p>It is not just a buzzword for us. We know nothing else. Really. </p>
					<p>We are all about
						<b>quick iterations</b>,
						<b>fast feedback loops</b>,
						<b>continuous improvement</b> and
						<b>early delivery</b>.</p>
					<p>Customer
						<b>collaboration</b> and
						<b>communication</b> are fundamental concepts in the way we work.</p>
				</div>
			</div>
		</div>

		<div class="page sticky fade-page" id="user">
			<div class="page_content">
				<h2>User goes first.</h2>
				<div class="content__body ">
					<p>We care about
						<b>user experience</b> as much as you do. </p>
					<p>We feel the interaction between users and products as a
						<b>form of art</b>. We deliver products of the highest quality that your customers will just love.</p>
				</div>
			</div>
		</div>

		<div class="page page_contact" id="contact">
			<div class="page_content">
				<div class="content__body text_dark">
					<p>Do you have an awesome project you want to take to the next level? You are in the
						<b>right place!</b>
					</p>
					<p>Let's
						<b>build</b> something great together!
					</p>
					<h2 class="text_dark">hello@camberi.com</h2>
				</div>
			</div>
		</div>

	</main>