{% extends "layout.njk" %}
{% block content %}
 {# {% include "partials/icons.njk" %}
{% include "nav.njk" %}  #}
<main>
{% include "partials/background.njk" %}
{% include "partials/canvas.njk" %}  
{% include "partials/content.njk" %}
</main>
{# {% include "partials/location.njk" %} #}
{% include "partials/about.njk" %}  
{% endblock %}       