{% includeData
  'data/en.json'
%}

{% set main_title = index.title %}
{% set main_description = index.description %}

{% extends "layout.njk" %}
{% block content %}

{% include "nav.njk" %}
<main>
{% include "partials/background.njk" %}
{% include "partials/canvas.njk" %}  
{% include "partials/content.njk" %}
</main>
{% include "partials/location.njk" %}
{% include "partials/about.njk" %}
{% include "partials/icons.njk" %}
{% endblock %}       