@import "scss/variables";
@import "scss/animations";
@import "scss/basics/headlines";
@import "scss/basics/general";
@import "scss/basics/buttons";
@import "scss/components/header";
@import "scss/components/nav";
@import "scss/components/scene";
@import "scss/components/page";
@import "scss/components/swiper";
@import "scss/components/logo";
  

@media screen and (max-width: 55em) {

   

    .swiper-container{
        padding: 0 5vw;
    }

    .swiper-slide,
    .swiper-wrapper{
        width: 90vw;
    }
    .page_content {
        top: 30vh;
    }
    .content--fixed {
        background: #acb2b9;
    }
    
    nav a {
        display: none;
    }
}