<div id="about">
    <div class="content">
        <h2 class="text_dark">THIS IS US</h2>
        <div class="content-about">
            <div class="row">
                <div class="col-4">
                    <div class="content-about__text">
                        <p>We are developers, and we’re great at developing. But that's not enough. Our background as designers &amp;
                            artists and our long experience bring our work to a different level. Our focus is to develop
                            solutions that break through the noise.
                        </p>
                        <p>
                            We love what we do.
                            <br/> We are creative.
                            <br/> We are passionate.
                            <br/>
                        </p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="content-about__profile content-about__profile--lower">
                        <img src="/img/mattia.png">
                        <div class="content-about__profile-text">
                            <h4 class="text_dark">Mattia Lorenzutti</h4>
                            <p>Co-Founder</p>
                            <a href="https://www.linkedin.com/in/mattialorenzutti/" class="content-about__profile-icon">
                                <svg class="icon">
                                    <use xlink:href="#linkedin-1-dark" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="content-about__profile content-about__profile--higher">
                        <img src="/img/francesco.png">
                        <div class="content-about__profile-text">
                            <h4 class="text_dark">Francesco Gatti</h4>
                            <p>Co-Founder</p>
                            <a href="https://www.linkedin.com/in/fgatti675/" class="content-about__profile-icon">
                                <svg class="icon">
                                    <use xlink:href="#linkedin-1-dark" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>